body {
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: cornsilk;
  font-family: Poiret One;
}

h1 {
  font-size: 50px;
}

a {
  background-color: IndianRed;
  border: none;
  color: cornsilk;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-bottom: 20px;
}

table {
	border: 10px solid cornsilk;
  margin: 0 auto;
}

td {
	padding: 10px;
  color: black;
	/*border-radius: 70%;*/
  border: 1px solid black;
  background: lightBlue;
  text-align: center;
}

th {
	background-color: salmon;
	color: black;
  padding: 10px;
  /*border-radius: 70%;*/
}

button {
    background-color: IndianRed;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

input[type=number] {
  width: 50px;

}
