body {
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: cornsilk;
  font-family: Poiret One;
}

h1 {
  font-size: 50px;
}

fieldset {
  margin: 0 auto;
  height: 400px;
}

label {
  text-align: left;
  margin-right: 2px;
  margin-left: 20px;
}

a {
  background-color: IndianRed;
  border: none;
  color: cornsilk;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-bottom: 20px;
}

a:hover {
  background-color: DarkSlateGray;
}

table {
	border: 10px solid cornsilk;
  margin: 0 auto;
}

td {
	padding: 10px;
  color: black;
  border: 1px solid black;
  background: lightBlue;
  text-align: center;
}

th {
	background-color: salmon;
	color: black;
  padding: 10px;
}

button {
    background-color: IndianRed;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

input[type=number] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;

}

input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

img {
  width: 100px;
}

select {
background-color: SandyBrown;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
}
